.main-articles-list {
  float:left;
  width: 100%
}

ul {
  list-style: none;
}

 ul {
  list-style: none;
}

.article {
  text-align: left;
}

.title {
  text-align: center;
  font-size: 1.1rem;
}

.topic {
  text-align: left;
  float: left;
  font-size: 0.8rem;
}

.vote {
  margin: 2px;
}

.user-info {
  font-size: 0.8rem;
}

li {
  float: left;
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  width: 100%;
}

/* li {
  border-color: gray;
  border-style: solid;
  border-width: 2px;
}

p {
  margin: auto;
text-align: left;
  color: gray;
  font-style: bold;
}

.title {
  margin: 20px;
  float: center;
  font-size: 50%;
 text-align: left;
 font-size: 100%;
 font-style: bold;

}

.topic {
 float: right;
 color: gray;
}

votes {
  float: left;
  text-align: left;
}

.user-info {
  color: gray;
}  */