.main-articles-list {
  float:left;
  width: 100%
}

ul {
  list-style: none;
}

.article {
  text-align: left;
}

.title {
  text-align: left;
  font-size: 1.1rem;
}

.topic {
  text-align: left;
  float: left;
  font-size: 0.8rem;
}

.vote {
  margin: 2px;
}

.user-info {
  font-size: 0.8rem;
}

li {
  float: left;
  /* border-color: gray;
  border-style: solid; */
  border-width: 2px;
  width: 100%;
}
