span {
  text-align: left;
}

.votes {
  margin: 20px;
  padding: 30px;
  border: 5px;
}

#arrows {
  padding: 6px 10px;
  max-width: 10px;
}

.fa-angle-up {
  float: center;
  font-size: 1.8rem;
  transition: 0.2s;
  position: relative;
  right: 5px;
}

.fa-angle-up:hover {
  color: rgb(161, 8, 34)
}

.fa-angle-down {
  float: center;
  font-size: 1.8rem;
  transition: 0.2s;
  position: relative;
  right: 5px;
} 

.fa-angle-down:hover {
  color:rgb(161, 8, 34)
}

#badge-pos {
  position: relative;
  right: 6px;
}

#mobile {
  font-size: 1rem;
}

