
.list-group-item {
  width: 99%;
  /* position: relative;
  right: 30px; */
  background-color: whitesmoke;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(121, 34, 34);
  border-width: 1px;
  margin: 0;
  padding: 10px;
}

#border {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(121, 34, 34);
  border-width: 5px;
}

.dropdown {
float: center;
}

.dropdown-container{
  padding-bottom: 10px;
  /* position: relative;
  left: 20px; */
  float: center;
}

ul {
  list-style: none;
  margin: none;
  padding: none;
}

.article {
  text-align: left;
}

.title {
  text-align: left;
  font-size: 1.1rem;
}

#title-link-mobile {
  color:  #20404a ;
  font-style: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  position: relative;
  bottom: 0px;
}

#title-link {
  color:  #20404a ;
  font-style: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

.title-div {
  width: 80%;
  float: left;
  position: relative;
  left: 20px;
  bottom: 10px;
}

.topic {
 position: absolute;
 right: 0px;
 top: 15px;
}

.topic-topic {
  text-align: right;
  font-size: 0.8rem;
  color:  #453b39;


}

.belongs-to {
  color: gray;
  font-size: 0.8rem;
  font-weight: bold;
}

.vote {
  margin: 2px;
  width: 40%;
}

#vote {
  width: 50%;
}

.posted-by {
  text-align: right;
  float: right;
}

.posted-by-mobile {
  position: relative;
  bottom: 0px;
}

.user-info {
  font-size: 0.8rem;
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.user-info-mobile {
  font-size: 0.8rem;
  position: absolute;
  right: 0px;
  bottom: 0px;
}


li {
  float: left;
  /* border-color: gray;
  border-style: solid; */
  border-width: 2px;
  width: 100%;
}

.fa-comments {
  font-size: 1.2rem;
}

.comments {
  font-size:1.4rem;
  position: absolute;
  bottom: 5px;
  left: 65px;
}

.comments-mobile {
  position: absolute;
  bottom: 25px;
  right: 0px;
  font-size: 1rem;
}

#comment-colour {
  color: rgb(121, 34, 34);
}

#comment-count-colour {
  color:  #453b39;
}
