.article-title {
  font-size: 2rem;
  text-align: left;
  padding-left: 10px;
  color:  #20404a ;
  font-style: bold;
  font-family: 'Raleway', sans-serif;
}

#article-title-mobile {
  font-size: 1.5rem;
}

.article-body {
  text-align: left;
  font-size:1rem;
  padding-top: 10px;
  padding-bottom: 15px;
}

.comment-count {
  font-size: 1rem;
 padding-bottom: 10px;
}

.created-by {
  font-size: 1.5rem;
}

.created-by-mobile {
  font-size: 1.2rem;
}